name: Rebuild

on:
  workflow_dispatch: null

permissions:
  contents: write


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Set Node.js version
        uses: actions/setup-node@v6
        with:
          node-version: '24.x'
          cache: 'pnpm'
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - run: |
            git config --global --add safe.directory "$GITHUB_WORKSPACE"
            pnpm install --frozen-lockfile
            pnpm run build --if-present
            git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
            git config --local user.name "github-actions[bot]"
            git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
            git add --all
            git commit -m "Rebuild"
            git push origin HEAD:${{ github.event.pull_request.head.ref }}
