name: Dependabot updates

on:
  pull_request:
    types: [opened, synchronize]

permissions:
  contents: write
  pull-requests: read


jobs:
  build:
    if: github.event.pull_request.user.login == 'dependabot[bot]'
    runs-on: ubuntu-latest
    steps:
      - name: Fetch Dependabot metadata
        id: dependabot-metadata
        uses: dependabot/fetch-metadata@v2
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: Set Node.js version
        uses: actions/setup-node@v6
        with:
          node-version: '24.x'
          cache: 'pnpm'
      - run: |
            git config --global --add safe.directory "$GITHUB_WORKSPACE"
            pnpm install --frozen-lockfile
            pnpm build || true
            git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
            git config --local user.name "github-actions[bot]"
            git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
            git add --all
            git commit -m "Rebuild after depends updates"
            git push origin HEAD:${{ github.event.pull_request.head.ref }}
